@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@800&display=swap');

@media screen {
  body {
    margin: 20px;
    background: #010a01;
  }

  :root {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }

  .game {
    min-width: 800px;
  }

  .game-title {
    text-align: center;
    width: fit-content;
    margin: 2rem auto;
  }

  .game-body {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .reset-button {
    font-family: 'Big Shoulders Inline Text', cursive;
    background: #010a01;
    color: #fff;
    font-size: 4rem;
    padding: 1rem 2rem 1rem;
    margin: 1rem 0rem 1rem;
    text-align: center;
    border: 0.2rem solid #fff;
    cursor: pointer;
    animation: flicker 1.5s infinite alternate;
    --neon-text-color: #ffd52e;
    --neon-border-color: #ff2e2e;
  }

  .enter-button {
    font-family: 'Kosugi Maru', sans-serif;
    background: #010a01;
    color: #fff;
    font-size: 4rem;
    padding: 1.5rem 2rem 1.5rem;
    margin: 1rem 0rem 1rem;
    text-align: center;
    cursor: pointer;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    animation: flicker 2s infinite alternate;
    --neon-text-color: #fa2d5a;
    --neon-border-color: #2b48cc;
  }

  .volume {
    width: 10%;
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
    --neon-text-color: #43e258;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
  }

  .indicator {
    margin: 0.5rem 2rem 0.5rem;
  }

  .game-board {
    border: 0.4rem solid rgba(67, 226, 88, 0.2);
    border-radius: 2rem;
    padding: 2rem 2rem 3rem;
    margin: 1rem auto;
  }

  .board-on {
    border: 0.4rem solid #fff;
    --neon-border-color: #43e258;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  .stone {
    border: 0.8rem solid #404040;
    background: #010a01;
    border-radius: 7rem;
    height: 8rem;
    width: 8rem;
    margin: 0.5rem;
    cursor: pointer;
  }

  .stone-color1 {
    border: 0.8rem solid #fff;
    --neon-border-color: rgb(255, 217, 0);
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  .stone-color2 {
    border: 0.8rem solid #fff;
    --neon-border-color: rgb(25, 0, 255);
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  .stone:focus {
    outline: none;
  }

  .neon {
    font-size: 7rem;
    font-family: 'Yuji Boku', serif;
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1.5px #0082ff;
    text-shadow: 0 0 50px rgba(0, 130, 255, 0.5);
  }
  .neon span {
    position: absolute;
    top: 4%;
    left: 8%;
    opacity: 0.3;
  }

  .flash {
    animation: flash-anime 5s linear infinite;
  }

  @keyframes flash-anime {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0.3;
    }
    52% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    76% {
      opacity: 0.6;
    }
    77% {
      opacity: 1;
    }
    78% {
      opacity: 0.3;
    }
    79% {
      opacity: 1;
    }
  }

  @keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
        0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);
      box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
      text-shadow: none;
      box-shadow: none;
    }
  }
}
